.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
img {
  vertical-align: bottom;
  max-width: 100%;
}
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 15px 0;
}
.header__left {
  float: left;
  font-size: 3em;
}
.header__right {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  float: right;
  padding: 14px 12px;
  transition: all 0.3s;
  text-decoration: none;
}
.header__right:hover {
  color: #333;
}
.menu {
  display: none;
}
.main {
  background-color: #f2f2f2;
  color: #333;
  padding-top: 78px;
}
.theme {
  padding: 250px 0;
  text-align: center;
}
.theme__title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
.theme__space {
  display: none;
}
.theme__subtitle {
  margin-top: 20px;
  color: #c0c0c0;
  font-size: 30px;
}
.what {
  background-color: #74cfae;
  padding-top: 50px;
}
.what__left {
  float: left;
  width: 350px;
  text-align: center;
}
.what__right {
  color: #fff;
  text-align: center;
  float: left;
  width: 750px;
}
.what__title {
  font-size: 24px;
  margin-bottom: 35px;
  font-family: 'Raleway', sans-serif;
}
.what__txt {
  font-size: 20px;
  line-height: 1.5;
}
.work {
  padding-top: 60px;
  padding-bottom: 70px;
  text-align: center;
}
.work__title {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 40px;
}
.work__link {
  transition: all 0.3s;
  opacity: 0.7;
  float: left;
  margin-right: 100px;
  margin-bottom: 80px;
}
.clearfix .work__link:nth-child(3n) {
  margin-right: 0;
}
.clearfix .work__link:nth-child(n + 4) {
  margin-bottom: 0;
}
.work__link:hover {
  opacity: 1;
}
.work__footer {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work__txt {
  margin-right: 90px;
  float: left;
  width: 540px;
  line-height: 1.5;
}
.work__button {
  font-size: 12px;
  float: left;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
}
.work__button:hover {
  color: #333;
}
.skills {
  background-color: #4e4e4e;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}
.skills__title {
  margin-bottom: 70px;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}
.skills__main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills__figure {
  margin-right: 180px;
  float: left;
}
.skills__main .skills__figure:last-child {
  margin-right: 0;
}
.skills__figcaption {
  font-size: 16px;
  margin-top: 10px;
}
.sns {
  padding: 200px 0;
  text-align: center;
}
.sns__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.sns__icon {
  color: #74cfae;
  width: 185px;
  float: left;
  transition: all 0.3s;
  padding: 30px 0;
}
.sns__icon:hover {
  background-color: #fff;
}
.footer {
  background-color: #74cfae;
  color: #fff;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 25px;
}
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }
  .what {
    padding-bottom: 25px;
  }
  .what__left {
    margin-bottom: 20px;
    float: none;
    width: 100%;
  }
  .what__right {
    float: none;
    width: 100%;
  }
  .work__link {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
  .work__footer {
    display: block;
    margin-top: 0;
  }
  .work__txt {
    margin-bottom: 40px;
    margin-right: 0;
    float: none;
    width: 100%;
  }
  .work__button {
    float: none;
    display: inline-block;
  }
  .clearfix .work__link:nth-child(3n) {
    margin-right: auto;
    margin-bottom: 80px;
  }
  .clearfix .work__link:last-child {
    margin-bottom: 0;
  }
  .work__footer {
    margin-top: 80px;
  }
  .skills__main {
    display: block;
  }
  .skills__figure {
    margin-bottom: 88px;
    margin-right: 0;
    float: none;
  }
  .skills__figure:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 766px) {
  .header__right {
    box-sizing: border-box;
    float: none;
    position: fixed;
    top:78px;
    left: 0;
    width: 100%;
    display: none;
  }
  .menu {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
    box-sizing: border-box;
    width: 45px;
    height: 37px;
    display: block;
  }
  .menu .menu__bar {
    background-color: #ddd;
    height: 2px;
    width: 23px;
    margin-bottom: 5px;
    display: block;
  }
  .menu .menu__bar:last-child {
    margin-bottom: 0;
  }
  .theme {
    padding-top: 160px;
    padding-bottom: 130px;
  }
  .theme__title {
    font-size: 80px;
  }
  .theme__space {
    display: block;
  }
  .sns {
    padding: 50px 15px;
  }
  .sns__contents {
    display: inline-block;
  }
  .sns__icon {
    float: none;
    display: inline-block;
    width: 100%;
  }
}
